- content_for :js do
  = javascript_include_tag 'application'

#rsvp.container
  - if @invitation.present? && @invitation.persisted?
    = render :file => "invitations/edit"
  - else
    = render :partial => "invitations/rsvp"