%p Thank you for sending your RSVP! We are delighted that you can come.
%p
  %strong You're all set,
  but if you would like to update us with your latest information, you can do so
  below.
= form_for @invitation do |f|
  = f.submit