<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">RSVP</Data></Cell>
      </Row>
    <% @invitations.each do |invitation| %>
      <Row>
        <Cell><Data ss:Type="String"><%= invitation.address_name %>
<%= invitation.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= invitation.rsvp %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>