- content_for :js do
  :javascript
    var tables = #{@tables_rabl.html_safe}
    var guests = #{@guests_rabl.html_safe}
  = javascript_include_tag 'tables'

#tables
.dance_floor
%section.unassigned_guests
  %h1 Unassigned guests
  %ul#guests.guest_list
%form#new_table
  %h2 New table
  %input{type: 'text', name: 'name', placeholder: 'Name'}
  %select{name: 'table_type'}
    %option{value: 'round'} Round
    %option{value: 'banquet'} Banquet
    %option{value: 'dance_floor'} Dance Floor
  %input{type: 'submit', value: 'Create'}

%script{:type => 'text/template', :id => 'table_template'}
  %h2{contenteditable: true} <%= table.name %>
  <% if (table.table_type !== 'dance_floor') { %>
  %ul.table_guests.guest_list
  <% } %>
  .close_button
    &times;
%script{:type => 'text/template', :id => 'guest_template'}
  <%= name %>