@import 'normalize';
@import 'compass/css3/appearance';

$text-color: #333;

* {
  box-sizing: border-box;
}

input, textarea {
  font-family: serif;
}

html, input[type=submit] {
  font-family: 'Cinzel', serif;
}

html {
  background: #eee;
  background: linear-gradient(to bottom, #fff, #eee);
  background-attachment: fixed;
  height: 100%;
  color: $text-color;
}

body {
  border: 50px ridge lightgray;
  border-image: image-url('elegant-border.png') 58 59;
  margin: 50px auto;
  max-width: 800px;
}

h1 {
  text-align: center;
}

p {
  font-size: .9em;
  padding: 0 4em;
  text-align: center;
}

.new_invitation {
  margin-top: 2em;
}

.form-row {
  margin: 1em 0;
  label {
    display: inline-block;
    margin-right: 1em;
    text-align: right;
    width: 200px;
  }
}
.form-row--checkbox, .form-row--submit {
  text-align: center;
}
.form-row--checkbox {
  label {
    margin: 0 0 0 .5em;
    width: auto;
  }
}

.form-notes {
  font-size: .75em;
  margin: .5em 0 0 220px;
  width: 300px;
}

.form-control {
  border: 1px solid $text-color;
  width: 300px;
}

input[type=submit] {
  @include appearance(none);
  outline: none;
}

.thanks {
  text-align: center;
}

@media screen and (max-width: 700px) {
  p {
    padding: 0;
  }
  .form-row label, form-control {
    width: auto;
  }
  .form-row {
    &, label {
      text-align: center;
    }
    label {
      display: block;
      margin: 0;
    }
  }
  .form-row--checkbox {
    label {
      display: inline;
    }
  }
  .form-control, .form-notes {
    width: 200px;
  }
  .form-notes {
    margin-left: auto;
    margin-right: auto;
  }
}