@import 'normalize';
@import 'compass/css3/appearance';

$text-color: #333;

* {
  box-sizing: border-box;
}

input, textarea {
  font-family: serif;
}

html, input[type=submit] {
  font-family: 'Cinzel', serif;
  font-size: 22px;
}

html {
  background: #eee;
  background: linear-gradient(to bottom, #fff, #eee);
  background-attachment: fixed;
  height: 100%;
  color: $text-color;
}

$body-width: 850px;
body {
  margin: 50px auto;
  max-width: $body-width;
  padding: 100px 50px 0;
  position: relative;
  &:before {
    background: image-url('border.png');
    top: 0;
    content: '';
    display: block;
    height: image-height('border.png');
    left: 0;
    position: absolute;
    width: image-width('border.png');
    z-index: -1;
  }
}

h1 {
  text-align: center;
}

p {
  padding: 0 3em;
  text-align: center;
}

.intro {
  font-family: 'Lobster Two', cursive;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 2em;
  .name {
    font-size: 1.666em;
    line-height: 1.1;
    .initial {
      font-size: 1.333em;
    }
  }
  .date {
    font-size: 1.222em;
    line-height: 1.3;
    .initial {
      font-size: 1.181em;
    }
  }
  .instructions {
    font-size: .777em;
    line-height: 1;
  }
}

.flash {
  font-size: .9em;
}

.new_invitation {
  margin-top: 2em;
}

.field_with_errors {
  display: inline;
}

.form-row {
  display: table;
  margin: 1em auto;
  padding-right: $body-width / 5;
  label {
    display: inline-block;
    margin-right: 1em;
    text-align: right;
    width: $body-width / 5;
  }
}
.form-row--checkbox, .form-row--submit {
  text-align: center;
  padding-right: 0;
}
.form-row--checkbox {
  label {
    margin: 0 0 0 .5em;
    width: auto;
  }
}

.form-notes {
  font-size: .75em;
  margin: .5em 0 0 220px;
  width: 300px;
}

.form-control {
  border: 1px solid $text-color;
  width: 300px;
}

input[type=submit] {
  @include appearance(none);
  outline: none;
}

.thanks {
  text-align: center;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
  p {
    padding: 0;
  }
  .intro {
    font-size: 18px;
  }
  .form-row label, form-control {
    width: auto;
  }
  .form-row {
    &, label {
      text-align: center;
    }
    label {
      display: block;
      margin: 0;
    }
  }
  .form-row--checkbox {
    label {
      display: inline;
    }
  }
  .form-control, .form-notes {
    width: 200px;
  }
  .form-notes {
    margin-left: auto;
    margin-right: auto;
  }
}