// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#tables {
  height: 1000px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.table, .unassigned_guests {
  background: #fff;
  text-align: center;
}

.table, .guest {
  cursor: move;
}

.table {
  border-radius: 150px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.5);
  height: 200px;
  width: 200px;
  transition-property: box-shadow, background;
  transition-duration: .2s;
  transition-easing-function: linear;
  &.hover {
    background: #ffff99;
    box-shadow: 10px 10px 30px rgba(0,0,0,1);
  }
  h2 {
    margin-bottom: 0;
  }
}

$guest-line-height: 16px;
.guest {
  line-height: $guest-line-height;
}

.table_guests {
  height: $guest-line-height * 8;
}

.unassigned_guests, #new_table {
  padding: 20px;
  position: fixed;
  bottom: 0;
}

.unassigned_guests {
  height: 300px;
  overflow: scroll;
  right: 0;
  width: 200px;
  .guest_list {
    min-height: 200px;
  }
}

.guest_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.close_button {
  color: grey;
  cursor: pointer;
  font-size: 18px;
  transition: color .5s linear;
  &:hover {
    color: black;
  }
}

#new_table {
  left: 0;
}