// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#tables {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.table, .unassigned_guests {
  background: #fff;
  text-align: center;
}

.table, .guest {
  cursor: move;
}

.close_button {
  color: grey;
  cursor: pointer;
  font-size: 14px;
  transition: color .5s linear;
  display: inline-block;
  &:hover {
    color: black;
  }
}

$guest-line-height: 12px;
.table {
  box-shadow: 8px 8px 23px rgba(0,0,0,.5);
  transition-property: box-shadow, background;
  transition-duration: .2s;
  transition-easing-function: linear;
  .guest {
    font-size: 10px;
    line-height: 10px;
  }
  &.round {
    border-radius: 75px;
    height: 150px;
    width: 150px;
    .table_guests {
      height: $guest-line-height * 8;
    }
  }
  &.banquet, &.dance_floor {
    .close_button {
      position: absolute;
      top: 3px;
      right: 8px;
    }
  }
  &.banquet {
    height: 75px;
    width: 240px;
    h2 {
      margin-top: 5px;
    }
    .guest {
      float: left;
      width: 120px;
    }
    .table_guests {
      height: $guest-line-height * 3;
    }
  }
  &.dance_floor {
    background: lightgrey;
    height: 360px;
    left: 480px;
    top: 240px;
    width: 480px;
  }
  &.hover {
    background: #ffff99;
    box-shadow: 8px 8px 23px rgba(0,0,0,1);
  }
  h2 {
    cursor: text;
    margin-bottom: 0;
  }
}

.guest {
  line-height: $guest-line-height;
}

.unassigned_guests, #new_table {
  padding: 15px;
  position: fixed;
  bottom: 0;
}

$unassigned-guests-height: 225px;
.unassigned_guests {
  height: $unassigned-guests-height;
  right: 0;
  width: 160px;
  $unassigned-guests-heading-height: 18px;
  $unassigned-guests-margin-height: 14px;
  h1 {
    height: $unassigned-guests-heading-height;
    margin: 0 0 $unassigned-guests-margin-height 0;
  }
  .guest_list {
    height: $unassigned-guests-height - $unassigned-guests-heading-height - $unassigned-guests-margin-height;
    overflow: scroll;
  }
}

.guest_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#new_table {
  left: 0;
}
