/*
 *= require normalize-rails
 *= require_self
 */

@import 'scut';

* {
  box-sizing: border-box;
}

#tubular-shield {
  background: rgba(0,0,0,.5);
}

$nav-height: 100px;
.title, .nav {
  position: absolute;
  z-index: 3;
}

.title {
  bottom: $nav-height;
  color: #fff; // temp
  margin: 0;
  padding: 1em;
  position: absolute;
  right: 0;
}

.nav {
  background: #666;
  font-family: 'Goudy Bookletter 1911', serif;
  height: $nav-height;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;

  ul {
    @extend %scut-list-unstyled;
    display: table;
    height: 100%;
    width: 100%;
  }

  li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 25%;
  }

  a {
    color: #fff;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    padding: 2em 0;
    text-decoration: none;
  }
}

.view-container {
  height: 75%;
  left: 12.5%;
  perspective: 2000px;
  position: absolute;
  top: 5%;
  width: 75%;
  z-index: 5;
}

.view {
  background: white;
  backface-visibility: hidden;
  border: 40px solid black;
  height: 100%;
  padding: 40px;
  position: absolute;
  width: 100%;
  transition: transform 1s linear, filter .5s linear, -webkit-filter .5s linear;
  transform-style: preserve-3d;
  &:before, &:after {
    border: 8px solid black;
    content: '';
    pointer-events: none;
    position: absolute;
  }
  &:before {
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;

  }
  &:after {
    border-width: 4px;
    top: 18px;
    left: 18px;
    bottom: 18px;
    right: 18px;
  }
}

.view.ng-leave {
  filter: brightness(1);
  transform: rotateY(0);
  &.ng-leave-active {
    filter: brightness(0.5);
    transform: rotateY(180deg);
  }
}

.view.ng-enter {
  filter: brightness(2);
  transform: rotateY(-180deg);
  z-index: 4;
  &.ng-enter-active {
    filter: brightness(1);
    transform: rotateY(0);
  }
}