/*
 *= require normalize-rails
 *= require_self
 */

@charset 'UTF-8';
@import 'scut';

* {
  box-sizing: border-box;
}

$text-color: #111;
body {
  background: #333;
  color: $text-color;
  font-family: 'Goudy Bookletter 1911', serif;
}

a {
  color: #999;
  transition: color .5s ease;
  &:hover {
    color: #ccc;
  }
}

#tubular-container, #tubular-shield {
  pointer-events: none;
}

#tubular-shield {
  background: rgba(0,0,0,.5);
}

$nav-height: 100px;
.title, .nav {
  position: absolute;
  z-index: 3;
}

.title {
  bottom: $nav-height + 10px;
  height: 200px;
  margin: 0;
  position: absolute;
  right: 10px;
  width: 217px;
  a {
    @extend %scut-image-replace;
    background: image-url('title.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
  }
}

.nav {
  background: #666;
  bottom: 0;
  height: $nav-height;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;

  ul {
    @extend %scut-list-unstyled;
    display: table;
    height: 100%;
    width: 100%;
  }

  li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 25%;
  }

  a {
    color: #fff;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    padding: 2em 0;
    text-decoration: none;
  }
}

.view-container {
  height: 75%;
  left: 12.5%;
  max-width: 800px;
  perspective: 2000px;
  position: absolute;
  top: 5%;
  width: 75%;
  z-index: 5;
}

.view {
  background: white;
  backface-visibility: hidden;
  border: 40px solid black;
  height: 100%;
  padding: 22px;
  position: absolute;
  width: 100%;
  transition: transform 1s linear, filter .5s linear, -webkit-filter .5s linear;
  transform-style: preserve-3d;
  transform: translateZ(0);
  &:before, &:after {
    border: 8px solid black;
    content: '';
    pointer-events: none;
    position: absolute;
  }
  &:before {
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;

  }
  &:after {
    border-width: 4px;
    top: 18px;
    left: 18px;
    bottom: 18px;
    right: 18px;
  }

  &.ng-leave, &.ng-enter {
    .section {
      overflow: hidden; // fixes a chrome backface-visibility bug
    }
  }

  &.ng-leave {
    filter: brightness(1);
    transform: translateZ(0) rotateY(0);
    &.ng-leave-active {
      filter: brightness(0.5);
      transform: translateZ(0) rotateY(180deg);
    }
  }

  &.ng-enter {
    filter: brightness(2);
    transform: translateZ(0) rotateY(-180deg);
    z-index: 4;
    &.ng-enter-active {
      filter: brightness(1);
      transform: translateZ(0) rotateY(0);
    }
  }
}

.section {
  height: 100%;
  overflow: auto;
  padding: 18px;
  position: relative;
  h2, p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--rsvp {
    legend {
      font-weight: bold;
    }
    label {
      display: inline-block;
      vertical-align: top;
      width: 140px;
    }
    input[type=text], input[type=email], textarea {
      background: #eee;
      border: none;
      outline: none;
      padding: 2px 4px;
      width: 200px;
    }
    input[type=text], input[type=email] {
      border-bottom: 2px dashed black;
    }
  }
  &__scroll-contents {
    position: relative;
  }
}

.anchors {
  @extend %scut-list-unstyled;
  float: right;
  position: relative;
  z-index: 1;
  li {
    float: left;
    margin-left: 3em;
  }
  a {
    cursor: pointer;
  }
}

.rsvp {
  &__instructions {
    text-align: center;
  }
  &__row {
    margin: 1em 0;
  }
  &__field, &__button {
    outline: none;
  }
  &__field {
    display: block;
    font-size: 3em;
    margin: 0 auto 10px;
    text-align: center;
    width: 200px;
  }
  &__button {
    background: transparent;
    border: 4px outset;
    font-size: 1.5em;
    &:active {
      border-style: inset;
    }
  }
}
label.rsvp__going {
  width: 100px;
}

.fields {
  margin: 1em 0;
}

.remove_nested_fields, .add_nested_fields {
  &:before {
    background: $text-color;
    border-radius: 1em;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    margin-right: .25em;
    text-align: center;
    width: 1em;
  }
  color: $text-color;
  vertical-align: middle;
}

.remove_nested_fields {
  float: right;
  &:before {
    content: '–';
  }
}

.add_nested_fields {
  &:before {
    content: '+';
  }
}

@media only screen and (max-width: 780px) {
  #tubular-container, #tubular-shield {
    display: none;
  }

  .title, .nav, .view-container {
    position: static;
  }

  .title, .nav {
    margin: 1em auto;
  }

  .nav, .view-container, .view, .section {
    height: auto;
  }

  .nav {
    ul, li {
      display: block;
    }

    li {
      width: auto;
    }

    a {
      margin: .5em auto;
      max-width: 100%;
      padding: 0;
    }
  }

  .view-container {
    width: auto;
  }

  .view {
    border: none;
  }
}